<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#000000">

    <link rel='stylesheet' type='text/css'
     href='/stylesheets/bootstrap.min.css'>
    <link rel='stylesheet' href='/stylesheets/bootstrap-theme.min.css'>
    <!-- link rel="shortcut icon" href="%PUBLIC_URL%/favicon.ico"!-->
  </head>
  <body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/index.js"></script>
    <div class="page-header">
      <h1>Welcome to Penn Leases!<br><small>Post a sublease or search avaiable
        leases.
      </small></h1>
    </div>
    <div class="btn-group-lg" role="group" aria-label="Navigation Buttons">
      <button class="btn btn-default post-button" id="button1">Post Sublease</button>
      <button class="btn btn-primary search-button" id="button2">View Subleases</button>
    </div>
  </body>
  </html>
